@using System.Security.Claims
<header id="header">
    <div id="headerbar">HelloPC xin chào !</div>
    <div id="nav-bar">
        <div id="bar">
            <a asp-controller="HomePage" asp-action="Index" id="shoplogo">
                <img class="shoplogo" src="~/images/logo.png" alt="" />
            </a>
            <form asp-action="FindProduct" asp-controller="Product" id="searchbar" method="get">
                <input name="Name" type="text" placeholder="Nhập sản phẩm cần tìm" />
                <button type="submit">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </button>
            </form>
            <div id="contact">
                <a asp-controller="Order" asp-action="OrderDetail" class="headerlink-container text-decoration-none">
                    <i class="fa-solid fa-clock-rotate-left"></i>
                    <p>Lịch sử đặt hàng</p>
                </a>
            </div>
            <div id="cart">
                <a class="headerlink position-relative" href="#">
                        <span class="position-absolute top-0 left-100 translate-middle badge rounded-pill"
                        style="color: gray">@ViewBag.cartitemcount</span>                                 
                    <a asp-controller="Order" asp-action="Cart" asp-route-itemcount=@ViewBag.cartitemcount class="headerlink-container text-decoration-none">
                        <i class="fa-solid fa-cart-shopping"></i>
                        <p>Xem giỏ hàng</p>
                    </a>
                </a>
            </div>
            <div id="login">
                @if (User.Identity.IsAuthenticated)
                {
                    if (User.IsInRole("KH"))
                    {
                        <a class="headerlink btn btn-primary" asp-controller="Account" asp-action="CustomerDetail" asp-route-name="@User.Identity.Name">Xin chào @User.Identity.Name</a>
                        <a class="headerlink btn btn-outline-secondary" asp-controller="Account" asp-action="Logout">Đăng xuất</a>
                    }
                    else
                    {
                        <a class="headerlink btn btn-primary" asp-controller="Management" asp-action="ProductManagement">Xin chào Admin</a>
                        <a class="headerlink btn btn-outline-secondary" asp-controller="Account" asp-action="Logout">Đăng xuất</a>
                    }
                } else
                {
                    <a class="headerlink" asp-controller="Account" asp-action="Login">
                        <div class="headerlink-container">
                            <i class="fa-regular fa-user"></i>
                            <p>Đăng nhập</p>
                        </div>
                    </a>
                }
            </div>
        </div>
    </div>
</header>
