<header id="header">
    <div id="headerbar">HelloPC xin chào !</div>
    <div id="nav-bar">
        <div id="bar">
            <div id="shoplogo">
                <img class="shoplogo" src="~/images/logo.png" alt="" />
            </div>
            <form id="searchbar">
                <input type="text" placeholder="Nhập sản phẩm cần tìm" />
                <button type="submit">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </button>
            </form>
            <div id="contact">
                <div class="headerlink-container">
                    <i class="fa-solid fa-phone"></i>
                    <p>0123456789</p>
                </div>
            </div>
            <div id="cart">
                <a class="headerlink position-relative" href="#">
                    <span class="position-absolute top-0 left-100 translate-middle badge rounded-pill"
                          style="color: gray">0</span>
                    <div class="headerlink-container">
                        <i class="fa-solid fa-cart-shopping"></i>
                        <p>Xem giỏ hàng</p>
                    </div>
                </a>
            </div>
            <div id="login">
                @if (User.Identity.IsAuthenticated)
                {
                    if (User.IsInRole("KH"))
                    {
                        <a class="headerlink" href="">Xin chào @User.Identity.Name</a>
                        <a class="headerlink" asp-controller="Account" asp-action="Logout">Đăng xuất</a>
                    }
                    else
                    {


                    }
                } else
                {
                    <a class="headerlink" asp-controller="Account" asp-action="Login">
                        <div class="headerlink-container">
                            <i class="fa-regular fa-user"></i>
                            <p>Đăng nhập</p>
                        </div>
                    </a>
                }
            </div>
        </div>
    </div>
</header>
