@model WebComputer.Models.Customer

@{
    ViewData["Title"] = "CreateCustomer";
    Layout = "~/Views/Shared/ManagementLayout.cshtml";
}
@if (TempData["Message"] != null)
{
    <script>
        alert('@TempData["Message"]');
    </script>
}

<h1>Tạo khách hàng</h1>

<h4>Account</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateCustomer" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Account.Email" class="control-label">Tên tài khoản</label>
                <input asp-for="Account.Email" class="form-control" />
                <span asp-validation-for="Account.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Account.PasswordHash" class="control-label">Mật khẩu</label>
                <input asp-for="Account.PasswordHash" class="form-control" />
                <span asp-validation-for="Account.PasswordHash" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Account.Role" class="control-label"></label>
                <input asp-for="Account.Role" value="KH" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label">Họ</label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label">Tên</label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Phone" class="control-label">Số điện thoại</label>
                <input asp-for="Phone" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label">Địa chỉ</label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

