@{
    Layout = "~/Views/Shared/ComputerLayout.cshtml";
}
@model IEnumerable<Product>
<div id="mainbody" class="mt-3 row">

    <div class="banner mt-5">
        <img src="~/images/category/@(ViewBag.categoryname).png" alt="">
    </div>

    <div class="mt-2">
        <h4>Chọn theo tiêu chí</h4>
        <div>
            <a class="btn"><i class="fa-solid fa-money-bill"></i> Giá</a>
            <div class="btn-group">
                <a class="btn btn-outline-primary" asp-action="ListProductByPrice" asp-route-categoryId=@ViewBag.categoryId asp-route-description="desc"><i class="fa-solid fa-arrow-down-wide-short"></i> Giá cao đến thấp</a>
                <a class="btn btn-outline-primary" asp-action="ListProductByPrice" asp-route-categoryId=@ViewBag.categoryId asp-route-description="asc"><i class="fa-solid fa-arrow-up-wide-short"></i> Giá thấp đến cao</a>
            </div>
            <select class="form-select d-inline w-25" aria-label="Default select example">
                <option selected>Hãng sản xuất</option>
                @foreach (var s in ViewBag.supplier)
                {
                    <option value=@s.SupplierId>@s.SupplierName</option>
                }
            </select>
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" style="width:250px">
                    Chọn theo khoảng giá
                </button>
                <ul class="dropdown-menu w-100">
                    <div class="d-flex flex-wrap g-2" style="gap:2%;">
                        <a asp-action="ListProductByPrice2" asp-route-minprice=10000000 asp-route-maxprice=20000000 asp-route-categoryId=@ViewBag.categoryId class="btn btn-outline-primary">10-20 triệu</a>
                        <a asp-action="ListProductByPrice2" asp-route-minprice=20000000 asp-route-maxprice=30000000 asp-route-categoryId=@ViewBag.categoryId class="btn btn-outline-primary">20-30 triệu</a>
                        <a asp-action="ListProductByPrice2" asp-route-minprice=30000000 asp-route-maxprice=40000000 asp-route-categoryId=@ViewBag.categoryId class="btn btn-outline-primary">30-40 triệu</a>
                        <a asp-action="ListProductByPrice2" asp-route-minprice=40000000 asp-route-maxprice=50000000 asp-route-categoryId=@ViewBag.categoryId class="btn btn-outline-primary">40-50 triệu</a>
                        <a asp-action="ListProductByPrice2" asp-route-minprice=50000000 asp-route-maxprice=60000000 asp-route-categoryId=@ViewBag.categoryId class="btn btn-outline-primary">50-60 triệu</a>
                    </div>

                </ul>
            </div>
        </div>
    </div>
    <div class="mt-2">
        <div class="productItems flex-wrap" style="">
            @foreach (var i in Model)
            {
                <div class="item">
                    <a asp-controller="Product" asp-action="ProductDetail" asp-route-productId=@i.ProductId>
                        <img src="@i.Image1" height="190px" alt="" />
                    </a>
                    <div class="detail">
                        <p>
                            @i.Name
                        </p>
                    </div>
                    <div class="price"><p>@i.Price.ToString("N0") đ</p></div>
                    <div class="state mb-2">
                        <div class="d-flex">
                            @if (i.StockQuantity > 0)
                            {
                                <p style="color: lime">Còn hàng</p>
                                <a asp-controller="Product" asp-action="ProductDetail" asp-route-productId=@i.ProductId style="width: 51px">
                                    <button style="width: 50px; background-color: red; border:none">
                                        <i class="fa-solid fa-cart-shopping"></i>
                                    </button>
                                </a>
                            }
                            else
                            {
                                <p style="color: red">Sản phẩm tạm hết hàng</p>
                            }
                        </div>
                    </div>
                </div>
            }


        </div>
    </div>
</div>
