@model IEnumerable<Product>
@foreach (var i in Model)
{
    <div class="item">
        <a href="#">
            <img src="@i.Image1" height="190px" alt="" />
        </a>
        <div class="detail">
            <p>
                @i.Name
            </p>
        </div>
        <div class="price"><p>@i.Price.ToString("N0") đ</p></div>
        <div class="state mb-2">
            <div class="d-flex">
                <p>Còn hàng</p>
                <a asp-controller="Product" asp-action="ProductDetail" asp-route-productId=@i.ProductId style="width: 51px">
                    <button style="width: 50px; background-color: red">
                        <i class="fa-solid fa-cart-shopping"></i>
                    </button>
                </a>
            </div>
        </div>
    </div>
}
